.adminMobileMenuContainer{
  display: none;
}

.menuIconMobileAdmin, .closeIconMobileAdmin{
  display: none;
}

.menuIconMobileAdmin.loggedOut, .menuIconMobileAdmin.active.loggedOut{
  display: none;
}
.closeIconMobileAdmin.loggedOut, .closeIconMobileAdmin.active.loggedOut{
  display: none;
}
.loginlogoutCheckAndVisibilitySetter{
  margin-bottom: 100px;
}
.loginlogoutCheckAndVisibilitySetter.loggedOut{
  display: none;
}

.admin_desktop_navigation{
  position: fixed;
  width: 100vw;
  height: 112px;
  background: var(--black-color);
  z-index: 4;
}

.fuzonLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fuzonLogoAnchor{
  font-size: 4em;
  font-weight: 800;
  color: white;
  text-decoration: none;
  user-select: none;
}

.adminNavUnorderedListContainer{
  margin-top: 20px;
  background: black;
  color: white;
  height: 50px;
  margin-bottom: 600px;
}




.adminNavUnorderedList{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
  list-style: none;
}

.adminNavUnorderedListChild{
  cursor: pointer;
  padding:5px 12px 5px 12px;
  font-size: 1.1rem;
  border: 3px solid transparent;
  border-radius: 30px;
  user-select: none;
  color: white;
  text-decoration: none;
}

.adminNavUnorderedListChild:hover{
  color:yellow;
  border-color: white;
}

@media screen and (max-width:700px) {
  .adminNavUnorderedListContainer{
    display: none;
  }

  .adminMobileMenuContainer{
    display: flex;
    left: 300%;
    transition: all 400ms ease;
    position: relative;
  }
  
  .adminMobileMenuContainer.active{
    left: 0;
    background: black;
    height:100vh;
    color: white;
  }

  .menuIconMobileAdmin.active{
    position: absolute;
    display: inline-flex;
    zoom: 10%;
    left: 100vw;
  }

  .closeIconMobileAdmin.active{
    position: absolute;
    display: inline-flex;
    zoom: 10%;
    left: 100vw;
  }


  .adminNavUnorderedListMobile{
    display: block;
    text-align: center;
    width: 100%;
  }

  .adminNavUnorderedListChildMobile{
    font-size: 1.5em;
    color: white;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .adminNavUnorderedListChildMobile:hover{
    color: yellow;
  }

}

@media screen and (max-width:500px){
  .fuzonLogoAnchor{
    font-size: 3em;
  }
  .menuIconMobileAdmin.active{
    zoom: 6%;
  }
}