/*check admin login panel styles for the styles other than here*/
.alertMessageLogin{
  display: block;
  margin-top: 150px;
  width: 40vw;
  height:100px;
}

.loginPanelFullContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginBodyContainer{
  margin-top: 40px;
}